img {
    background-image: cross-fade();
}

/*style for FAQ*/

.toggle-container {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.toggle-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  padding:20px;
  border: 3px solid #666;
  border-radius: 10px;
}

.arrow {
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.hidden {
  display: none;
}

.open .arrow {
  transform: rotate(90deg); /* Rotate arrow to point down */
}

/*style for register*/

body {
            font-family: Arial, sans-serif;
            margin: 40px;
            background: #ffffff00;
}
h2 {
            font-size: 20px;
            margin-bottom: 10px;
}
form {
            margin-bottom: 40px;
}
label {
            display: block;
            margin: 10px 0 5px;
            font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"] {
            width: 300px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 6px;
            display: block;
}
.verified {
            display: inline-block;
            margin: 8px 0;
            padding: 4px 10px;
            background: #eef7f0;
            color: #007B55;
            border-radius: 12px;
            font-size: 14px;
}
button {
            margin-top: 15px;
            padding: 8px 20px;
            border: none;
            border-radius: 6px;
            background: #ddd;
            cursor: not-allowed;
}
button.active {
            background: #007BFF;
            color: white;
            cursor: pointer;
}
hr {
            margin: 30px 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* take all space between header & footer */
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center;     /* center vertically */
   /*  background: #f5f5f5;     optional page background */
}

.login-container {
  margin-top: 20px;
    background: rgba(255, 255, 255, 0.745);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    padding: 40px;
    width: 350px;
    text-align: center;
    color: black;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 28px;
}