body{
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f0e8d9;
}

.container {
  display: flex;
  flex-wrap: nowrap;       
  align-items: flex-start; 
  gap: 20px;
}

.Recipe {
  background-color: #d4a373;
  padding: 10px;
  margin-left: 10;
  font-size: 15px;
  border: 2px solid #db842e;  
  border-radius: 8px;
  font-family: cursive;
  overflow: hidden; 
}

h4{
  margin-top: 5px;
  margin-bottom: 0px;
  color:#4b3f2f;
}

.Details {
  flex: 2.5;
  font-family: Arial, sans-serif;
  margin: 20px;
}

.Details img{
  width: 100%;
  max-width: 350px;
  border: 2px solid #b49475;  
  border-radius: 8px;
  margin-bottom: 5px;
}

.Details .MilkTeaName{
  margin-top: 10px;
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 5px;
  color: #4b3f2f;
  font-family: cursive;
}

.Details .Description{
  line-height: 1;
  font-size:15px;
  margin-top: 0px;
  text-align: justify;
  font-family: cursive;
  color: #4b3f2f;
}

.selection {
  flex: 2.5;
  min-width: 300px;
  background-color: #d4a373;
  border: 2px solid #db842e;  
  border-radius: 8px;
}

.selection-type {
  background-color: #f0e8d9;
  padding: 10px;
  margin:15px 15px 15px 15px;
  font-size: 15px;
  border: 2px solid #ddd;  
  border-radius: 8px;
  margin-top: 22px;
  color: #4b3f2f;
  font-family: cursive;
}

.price{
  float: right;
  font-size: bold;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  margin-top: 15px;
}


#decrease{
  width: 40px;
  height: 40px;
  border: none;
  background: #f0e8d9;
  color: #4b3f2f;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 15px;
  margin-top: 15px;
}

#decrease:hover{
  background: #e7d7b9;
}

#increase{
  width: 40px;
  height: 40px;
  border: none;
  background: #f0e8d9;
  color: #4b3f2f;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
}

#increase:hover{
  background: #e7d7b9;
}

.quantity .add-to-cart  {
  width: 150px;
  height: 40px;
  border: none;
  background: #f0e8d9;
  color: #4b3f2f;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
  font-family: cursive;
}

.quantity button:hover {
  background: #e7d7b9;
}

.quantity input {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 15px;
  color: #4b3f2f;
  font-family: cursive;
}

#back{  
  width: 40px;
  height: 40px;
  border: none;
  background: #f0e8d9;
  color: #4b3f2f;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 15px;
}

#back:hover{
  background: #e7d7b9;
}

.total-price {
  margin-left: 10px;
  font-weight: bold;
  color: #8B4513;
  size: 25px;
  font-family:cursive;
}


.error {
  color: red;
  display: none;
  font-size: 14px;
  margin-top: 5px;  
}